# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.cache
*.log

# Django specific
*.pot
*.pyc
db.sqlite3
media/

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE configurations
*.idea/
.vscode/

# Distribution / packaging
dist/
build/

# Database
*.db
*.sqlite3

# Celery
celerybeat-schedule
celerybeat.pid

# Others
*.DS_Store
*.swp
*~
